
__pycache__/
*.py[cod]
*$py.class
result/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
sam_vit_h_4b8939.pth
caption_anything/
assets/
